html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
}

#title{
    margin:0;
    padding: 0;
    border-bottom:3px solid black;
    height: 100vh;
    background-color: hotpink;
    animation-name: heartbeat;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

a{
    color:inherit;
    text-decoration: none;
}

#start{
    border-bottom:3px solid black;
    padding: 0 50px;
    background-color: aqua;
    height: 100vh;

}

h1{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 5vh;
}


h1, p {
    text-align: center;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
}

img{
    width: 100%;
    height: auto;
}

@keyframes heartbeat{
    0%   {background-color: hotpink;}
    30% {background-color: deeppink;}
    40% {background-color: hotpink;}
    50% {background-color: deeppink;}
    60% {background-color: hotpink;}
    70% {background-color: deeppink;}
    100% {background-color: hotpink;}
}