html{
    scroll-behavior: smooth;
}


body{
    margin: 0;
}

#title{
    margin:0;
    padding: 0;
    border-bottom:3px solid black;
    height: 100vh;
    background-color: hotpink;
    animation-name: heartbeat;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    border-bottom: 3px solid black;
}

a{
    color:inherit;
}

#start{
    padding: 0 50px;
    background-color: aqua;
    min-height: 100vh;
}

#totals{
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #DB0CE8;
}

#longest_texts{
    min-height: 100vh;
    justify-content: flex-start;
}

.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#longest_texts .harim img{
    height: 80vh;
    width: auto;
    margin: 0 140px;
}

#longest_texts .betsy img{
    height: 50vh;
    width: auto;
}

h1, h2{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 7vh;
}
h2{
    font-size: 5vh;
    margin-bottom: 0;
    text-align: center;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 3vh;
    text-align: center;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list .first, .list .second{
    width: 46vw;
}

li{
    font-size: 1.85vh;    
    font-family: 'Raleway', sans-serif;
}

h1, p {
    text-align: center;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 2.25vh;
}

li em{
    font-size: 2.5vh;
}

img{
    width: 100%;
    height: auto;
}

.fas{
    position: relative;
    transition: .3s;
    margin-bottom: 5vh;
}

.fas:hover{
    font-size: 3.5em;  
}

.title-heart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.heart{
    margin-top: 35.040px;
    animation-name: heartbeat2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes heartbeat2{
    0%   {font-size: 6vh;}
    30% {font-size: 7vh;}
    40% {font-size: 6vh;}
    50% {font-size: 7vh;}
    60% {font-size: 6vh;}
    70% {font-size:7vh;}
    100% {font-size: 6vh;}
}

@keyframes heartbeat{
    0%   {background-color: hotpink;}
    30% {background-color: deeppink;}
    40% {background-color: hotpink;}
    50% {background-color: deeppink;}
    60% {background-color: hotpink;}
    70% {background-color: deeppink;}
    100% {background-color: hotpink;}
}


@media (min-width:1200px){
    .list{

    }
}